 body {
        background: #444;
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0.8, rgb(133,133,133)),
            color-stop(1, rgb(68,68,68))
        );
        background-image: -moz-linear-gradient(
            left center,
            rgb(133,133,133) 80%,
            rgb(68,68,68) 100%
        );
        font-family: sans-serif;
        font-size: 14px;
        margin: 0;
        overflow-y: scroll;
      }

      #prompt input {
        margin-top: 15px;
        margin-left: 15px;
      }


      #search {
        width: 80%;
        position:fixed;
        top: 0;
        padding:0;
        margin:0;
      }


      #search input {
        width: 100%;
        height: 36px;
        font-size: 30px;
        border: none;
        padding-left: 5px;
        border-bottom: 1px solid #929292;
        outline: none;
        background: #929292;
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, rgb(255,255,255)),
            color-stop(1, rgb(221,221,221))
        );
        background-image: -moz-linear-gradient(
            center top,
            rgb(255,255,255) 0%,
            rgb(221,221,221) 100%
        );

      }
      audio {
        width: 100%;

      }

      #footer {
        position: fixed;
        bottom: -3px;
        width: 100%;
        background: #858585;
      }

      #songs {
        background: #ddd;
        width: 80%;
        padding-left: 5px;
      }

      #songs table {
        width: 100%;
      }

      #playlist {
        width: 20%;
        position: fixed;
        right: 0;
        color: white;
        top: 0;
      }

      #playlist table {
        width: 100%;
        margin: 5px;
        margin-left: 10px;
        margin-top: 25px;
      }

      table tr:hover {
        background: #BBCEE9;
        border-radius: 5px;
      }

      table tr {
        -webkit-user-select: none;
        user-select: none;
        cursor: default;

      }
      table td {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 5px;
      }


      #playlist table tr.playing {
        /*background: #76AD8B;*/
        font-style: italic;
      }


      #playlist table tr.playing td {
        padding-left: 20px;
      }

      #listtools {
        position: fixed;
        top: 0;
        right: 5px;
        color: #ddd;
      }
      #listtools a {
        color: white;
        text-decoration: none;
        font-size: 1.4em;
      }

      tr.hidden {
        display:none;
      }

      #files {
        margin-top: 25px 0 15px 0;
        background: white;
        border-radius: 3px;
      }
